* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    height: 100vh;
}
.illustration {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-intro.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.illustration__img {
    width: 65%;
}
h2 , h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}
.all-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}
.all-info__description {
    margin: 20px 0 20px 0;
}
.all-info__description p {
    color: hsl(0, 0%, 50%);
    margin: 10px 0 10px 0;
}
.all-info__hdr-bar {
    display: flex;
    /* margin: 40px; */
    justify-content: space-between;
    align-items: center;
}
.hdr-bar__sn-list {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: hsl(243, 87%, 12%);
}
.hdr-bar__sn-list a{
    color: hsl(243, 87%, 12%);
}
.all-info__description h1 {
    padding: 20px 0 20px 0;
}

.all-info__sign-up {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}
.sign-up {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.sign-up__input {
    height: 40px;
    width: 60%;
    padding: 0 0 0 10px;
    border: none;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
}
.sign-up__input:focus {
    -webkit-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.1);

}
.sign-up__btn {
    height: 40px;
    width: 35%;
    background: hsl(163, 95%, 43%);
    border: none;
    color: white;
    font-size: 16px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.12);
}
.policy {
    align-self: flex-end;
}

@media (max-width: 375px) {
    
}
@media (max-width: 900px) {
    
}
@media (max-width: 1440px) {
    
}
