* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    height: 100vh;
}
.info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}
.illustration {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

}
.illustration__img {
    width: 65%;
}
h2 , h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}
.sign-up {
    display: flex;
}
.sign-up__btn {
    height: 50px;
    width: 150px;
    background: hsl(163, 95%, 43%);  
    border: none;
    color: white;
    font-size: 16px;
}
p {
    color: hsl(0, 0%, 50%);
}
.hdr-bar {
    display: flex;
    /* margin: 40px; */
    justify-content: space-between;
    align-items: center;
}
.hdr-bar__sn-list {
    width: 25%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: hsl(243, 87%, 12%);
}
.hdr-bar__sn-list a{
    color: hsl(243, 87%, 12%);
}
.policy {
    align-self: flex-end;
}